@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');
a { color: #fff; outline: 0; text-decoration: none !important; /*-webkit-transition: all 0.5s linear; -moz-transition: all 0.5s linear; -ms-transition: all 0.5s linear; -o-transition: all 0.5s linear; transition: all 0.5s linear;*/ }
a:hover { color: #fff; }
a, input, select, textarea { outline: 0; }
body, html { font-family: 'Lato', sans-serif; color: #000; font-size: 16px; font-weight: 400; padding: 0; margin: 0; overflow-x: hidden; }




.menu_bulk{ background-color: #733ca6; border-radius: 4px;}
        .menu_bulk ul{ padding: 0px; margin-bottom: 0; }
        .menu_bulk ul li{ list-style: none; border-right: 1px solid #8781bd; display: inline-block;}
        .menu_bulk ul li a{
            text-transform: capitalize;
            font-weight: 400; outline: none;
            color: white; text-decoration: none;
            padding: 8px 20px;
            display: inline-block; font-size: 16px;
            margin-top: 1px;
        }
        .menu_bulk ul li:last-child{ border:none; }
        .btn-tagg{ border-radius: 20px; color: #fff; margin-right: 5px; background-color: #733ca6; padding: 8px 25px; border:none; }
        .menu_bulk .dropdown-menu ul li{ display: block; }
        .menu_bulk .dropdown-menu ul li a{ display: block; color: #000; padding: 5px 10px; }


#music-player{ background-color: #8781bd; padding: 10px 0px 15px 0px;}
.head-player{ color: #fff; font-size: 12px; line-height: 25px; font-weight: 600;}
.head-player select{ background: transparent; height: 30px; color: #946abb; width: 90%; border-radius: 5px; border:solid 2px #754d9a; }
.head-player option{ background-color: #8781bd; border:solid 1px #946abb !important; padding:10px ; line-height: 30px; display: block; font-size: 14px;}
.player{ color: #fff; position: relative; vertical-align: middle;display: block; }
.player a{ vertical-align: middle; font-size: 18px; margin:0px 5px; }
.player span{ line-height: 18px; margin:0px 5px; }
.play-circle{ width: 40px; height: 40px; line-height: 18px; background-color: #fff; display: inline-block; color: #8781bd; border-radius: 20px; }
/*.player a:hover{ color: #8781bd; }
#music-player a:hover{ color: #fff; }*/
.play-circle .fa{ font-size: 15px;line-height: 18px;}
.filter{ color: #fff; position: relative; padding:18px 0px; vertical-align: middle;display: -webkit-inline-box;  }
.filter a{ vertical-align: middle; font-size: 18px; margin:0px 5px; }
.filter a:focus{ color: #fff; }
.filter .dropdown-menu{ margin-top: 20px !important; width: 200px; box-shadow: none; }
.filter .dropdown ul{ padding: 0px; margin:0px; }
.filter .dropdown ul li{ list-style: none; }
 .filter .dropdown ul li a{ color: #000 !important; display: block; font-size: 14px; padding: 0px 0px; text-align: left; }
 .filter .dropdown ul li a .fa{ color: #8781bd; }

 .filter kbd{
    display: inline-block;
    padding: .1em .6em;
    font-size: 11px;
    color: #fff;
    background-color: #8781bd;
    border: 1px solid #946abb;
    border-radius: 3px;
    white-space: nowrap;
    position: relative;
    box-shadow: none;
    float: right;
    min-width: 26px;
    text-align: center;
}
#music-player .bars-drop-body{ padding-top: 30px;}
ul.bars-drop-content{ font-size: 14px; padding: 0px; margin: 0px; }
ul.bars-drop-content li{ font-size: 14px; padding: 10px 0px; margin-bottom: 15px; border-bottom: solid 1px #fff; list-style: none; font-weight: 400px; color: #fff;}
ul.bars-drop-content li span{ float: right; cursor: auto;}


.drop-row ul{ padding: 0px; margin: 0px;  }
.drop-row ul li{  list-style: none; float: left;}
.drop-row ul li a{ padding: 15px 15px;  font-weight: bold; font-size: 18px; color: #fff; display: block;}
.drop-row .dropdown-menu{ margin-top: 16px !important; width: 200px; box-shadow: none; }
.drop-row .dropdown ul li{ float: left; width: 100%; padding: 10px; }
.drop-row .dropdown ul li a{ color: #000 !important; display: block; font-size: 14px; padding: 0px 0px; text-align: left; }

.loader-modal .modal-dialog {
    width: 25%;
    margin: 8em auto 0 auto;
}
.lds-ring.loader-ring {
    display: block;
    position: inherit;
    width: 60px;
    height: 60px;
    left: auto;
    top: auto;
    text-align: center;
    margin: 0 auto;
    padding: 0 0;
}
.loader-modal .modal-body {
    padding: 30px 30px;
}
.show-loader{
    display: block;
}
.modal.loader-modal{
    top: 35%;
    position: absolute;
}
#iframeScreen iframe {
    background-color: #ffffff;
}
iframe.iframe-set {
    width: 100%;
    height: 100%;
    margin: 0px auto;
    display: block;
    border: 8px solid #f5f7f9;
    border-top-width: 60px;
    border-bottom-width: 60px;
    border-radius: 44px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(169, 169, 169, 0.5);
    pointer-events: none;
}
iframe.mobile-iframe {
    max-width: 330px;
    min-height: 600px;
}
.device-frame {
    width: 100%;
    height: 100%;
    background: url(./transperant.png);
    background-repeat: repeat;
    background-position: bottom right;
    padding: 0px 0;
}
.vedio-detail{
    display: flex;
    flex-wrap: nowrap;
    max-height: 86px;
}
.vedio-detail ul.detail-box{
    flex: 1 0 18%;
    flex-flow: row nowrap;
    margin: 0 0;
    padding: 6px 10px;
    list-style: none;
}
.vedio-detail ul.player-controls.detail-box{
    flex-basis: 180px;
}
.vedio-detail ul.detail-box{border-right: 1px solid #cebfde;}
.vedio-detail ul.detail-box:last-child {border-right: none;}
.vedio-detail ul.detail-box li{
    list-style: none;
    display: block;
    margin: 0 0;
    padding: 0 0;
}
.vedio-detail ul.detail-box li label{
    display: inline-block;
    width: 52%;
    font-size: 14px;
    color: #000;
    font-weight: 600;
    margin: 0 0;
    padding: 0 0;
}
.vedio-detail ul.detail-box li span{
    display: inline-block;
    font-size: 13px;
    color: #000;
    font-weight: 400;
    margin: 0 0;
    padding: 0 0 0 5px;
}
.vedio-detail ul.detail-box li span.display-flag{
	text-overflow: ellipsis;
	-webkit-line-clamp: 1;
	-moz-line-clamp: 1;
	overflow: hidden;
	white-space: nowrap;
	max-width: 105px;
	vertical-align: middle;
}
.player {
    vertical-align: middle;
    text-align: center;
    margin: 6px auto;
}
.play-circle:hover, .play-circle:active, .play-circle.btn-active {
    background: #73c1c2;
    color: #fff;
    transition: all 0.3s ease-in-out;
}
.player .player-duration{
    margin: 8px 0px;
    text-align: center;
}
.player-controls.detail-box .player .player-duration span{
    margin: 0px 2px;
    font-size: 16px;
    color: #000000;
    font-weight: 600;
    text-align: center;
    display: inline-block;
}
.tag-wrap.player-tag {
    width: 100%;
    max-width: 100%;
}
.vedio-detail ul.visitor-tag.detail-box{
    flex-basis: 170px;
    padding: 3px 10px;
}
.vedio-detail ul.detail-box.check-error-btn{
    flex-basis: 120px;
    padding: 18px 10px;
}
.vedio-detail ul.detail-box.check-error-btn button.table-jump-btn{border-radius: 4px;font-size: 14px;}
i.fa, .reportrange span, #bars-drop li, span.watch-demo, .player a, .head-player select {
	cursor: pointer;
}
.custom-select {
	position: relative;
}
.custom-select select {
	display: none; /*hide original SELECT element:*/
}
.select-selected {
	background-color: #73c1c2;
}
/*style the arrow inside the select element:*/
.select-selected:after {
	position: absolute;
    font-family: FontAwesome;
    content: "\f107 ";
    top: 0px;
    right: 0px;
    width: 12px;
    height: 10px;
    font-size: 18px;
    line-height: 10px;
    border: none;
    padding: 0 0;
	margin: 13px 8px;
	transform: rotate(0deg);
}
.select-selected.select-arrow-active:after{
	transform: rotate(-180deg);
	transition: all 0.4s;
}
/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
	font-size: 14px;
    font-weight: 400;
    color: #000;
    padding: 6px 12px;
    cursor: pointer;
    background: #fff;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
}
.select-items div:last-child{
	border-bottom: none;
	border-radius: 0px 0px 4px 4px;
}
/*style items (options):*/
.select-items {
	position: absolute;
	background-color: #73c1c2;
	box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.15);
	top: 100%;
	left: 0;
	right: 0;
	z-index: 9;
}
/*hide the items when the select box is closed:*/
.select-hide {display: none;}
.select-items div:hover, .same-as-selected {
	background: #73c1c2;
	color: #ffffff;
}
.custom-select {
	position: relative;
}
.custom-select select {
	display: none; /*hide original SELECT element:*/
}
.select-selected {
	background-color: #73c1c2;
}
/*style the arrow inside the select element:*/
.select-selected:after {
	position: absolute;
    font-family: FontAwesome;
    content: "\f107 ";
    top: 0px;
    right: 0px;
    width: 12px;
    height: 10px;
    font-size: 18px;
    line-height: 10px;
    border: none;
    padding: 0 0;
	margin: 13px 8px;
	transform: rotate(0deg);
}
.select-selected.select-arrow-active:after{
	transform: rotate(-180deg);
	transition: all 0.4s;
}
/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
	font-size: 14px;
    font-weight: 400;
    color: #000;
    padding: 6px 12px;
    cursor: pointer;
    background: #fff;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
}
.select-items div:last-child{
	border-bottom: none;
	border-radius: 0px 0px 4px 4px;
}
/*style items (options):*/
.select-items {
	position: absolute;
	background-color: #73c1c2;
	box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.15);
	top: 100%;
	left: 0;
	right: 0;
	z-index: 9;
}
/*hide the items when the select box is closed:*/
.select-hide {display: none;}
.select-items div:hover, .same-as-selected {
	background: #73c1c2;
	color: #ffffff;
}
.display-toolbar.headingbar strong.filter-head {
    position: relative;
    margin: 10px 0;
}
#display-detail{
	background-color: #f5f5f5;
	padding: 0px 0;
}
.vedio-detail{
    display: flex;
    flex-wrap: nowrap;
    max-height: 86px;
}
.vedio-detail ul.detail-box{
    flex: 1 0 18%;
    flex-flow: row nowrap;
    margin: 0 0;
    padding: 6px 10px;
    list-style: none;
}
.vedio-detail ul.player-controls.detail-box{
    flex-basis: 180px;
}
.vedio-detail ul.detail-box{border-right: 1px solid #cebfde;}
.vedio-detail ul.detail-box:last-child {border-right: none;}
.vedio-detail ul.detail-box li{
    list-style: none;
    display: block;
    margin: 0 0;
    padding: 0 0;
}
.vedio-detail ul.detail-box li label{
    display: inline-block;
    width: 52%;
    font-size: 14px;
    color: #000;
    font-weight: 600;
    margin: 0 0;
    padding: 0 0;
}
.vedio-detail ul.detail-box li span{
    display: inline-block;
    font-size: 13px;
    color: #000;
    font-weight: 400;
    margin: 0 0;
    padding: 0 0 0 5px;
}
.vedio-detail ul.vedio-report.detail-box li label{width: 60%;}
.vedio-detail ul.detail-box li span.display-flag{
	text-overflow: ellipsis;
	-webkit-line-clamp: 1;
	-moz-line-clamp: 1;
	overflow: hidden;
	white-space: nowrap;
	max-width: 105px;
	vertical-align: middle;
}
.player {
    vertical-align: middle;
    text-align: center;
    margin: 6px auto;
}
.player a {
    display: inline-block;
	vertical-align: middle;
    margin: 0 4px;
    padding: 7px 6px;
}

.play-circle:hover, .play-circle:active, .play-circle.btn-active {
    background: #73c1c2;
    color: #fff;
    transition: all 0.3s ease-in-out;
}
.player .player-duration{
    margin: 8px 0px;
    text-align: center;
}
.player-controls.detail-box .player .player-duration span{
    margin: 0px 2px;
    font-size: 16px;
    color: #000000;
    font-weight: 600;
    text-align: center;
    display: inline-block;
}
.tag-wrap.player-tag {
    width: 100%;
    max-width: 100%;
}
.vedio-detail ul.visitor-tag.detail-box{
    flex-basis: 170px;
    padding: 3px 10px;
}
.vedio-detail ul.detail-box.check-error-btn{
    flex-basis: 120px;
    padding: 18px 10px;
}
.vedio-detail ul.detail-box.check-error-btn button.table-jump-btn{border-radius: 4px;font-size: 14px;}
.slideplay.vedio-seekbar {
    width: 100%;
    background: #ddd;
    position: relative;
}
/*=============  Recording Display Page Style  =============*/

#music-player {
	background-color: #8781bd;
	padding: 6px 0;
}
.head-player {
    display: block;
    margin: 7px 0;
    padding: 0 0;
}
.heatmaps-display.recording-display .site-pages {
    margin: 0 12px 0 0;
}
.head-player.recording-display span.site-name{
    cursor: pointer;
    padding: 5px 0;
    display: inline-flex;
}
.head-player.recording-display span.site-name  p{
    font-size: 16px;
    color: #ffffff;
    display: inline-block;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 170px;
    margin: 0 0;
    padding: 0 0;
}
.head-player span.site-name{
    color: #fff;
    font-size: 16px;
    line-height: normal;
    font-weight: 500;
    display: inline-block;
    width: 45%;
}
.head-player .site-pages{
    display: inline-block;
    margin: 0 0 0 15px;
    width: 47%;
}
.head-player .site-pages.custom-select .select-selected {
    background: #fff;
    height: 35px;
    color: #000000;
    width: 100%;
    border-radius: 4px;
    border: none;
    padding: 6px 12px;
    font-size: 14px;
}
.head-player .site-pages.custom-select .select-selected.select-arrow-active {
    background: #f9f9f9;
    border-radius: 4px 4px 0px 0px;
}
.head-player .site-pages.custom-select .select-selected:after {
    position: absolute;
    font-family: FontAwesome;
    content: "\f107 ";
    top: 0px;
    right: 0px;
    width: 12px;
    height: 10px;
    font-size: 18px;
    line-height: 10px;
    border: none;
    padding: 0 0;
	margin: 13px 8px;
    transform: rotate(0deg);
    transition: all 0.4s;
}
.head-player .site-pages.custom-select .select-selected.select-arrow-active:after{
	transform: rotate(-180deg);
	transition: all 0.4s;
}
.display-toolbar.headingbar strong.filter-head {
    position: relative;
    margin: 10px 0;
}
#display-detail{
	background-color: #f5f5f5;
	padding: 0px 0;
}
.vedio-detail{
    display: flex;
    flex-wrap: nowrap;
    max-height: 86px;
}
.vedio-detail ul.detail-box{
    flex: 1 0 18%;
    flex-flow: row nowrap;
    margin: 0 0;
    padding: 6px 10px;
    list-style: none;
}
.vedio-detail ul.player-controls.detail-box{
    flex-basis: 180px;
}
.vedio-detail ul.detail-box{border-right: 1px solid #cebfde;}
.vedio-detail ul.detail-box:last-child {border-right: none;}
.vedio-detail ul.detail-box li{
    list-style: none;
    display: block;
    margin: 0 0;
    padding: 0 0;
}
.vedio-detail ul.detail-box li label{
    display: inline-block;
    width: 52%;
    font-size: 14px;
    color: #000;
    font-weight: 600;
    margin: 0 0;
    padding: 0 0;
}
.vedio-detail ul.detail-box li span{
    display: inline-block;
    font-size: 13px;
    color: #000;
    font-weight: 400;
    margin: 0 0;
    padding: 0 0 0 5px;
}
.vedio-detail ul.vedio-report.detail-box li label{width: 60%;}
.vedio-detail ul.detail-box li span.display-flag{
	text-overflow: ellipsis;
	-webkit-line-clamp: 1;
	-moz-line-clamp: 1;
	overflow: hidden;
	white-space: nowrap;
	max-width: 105px;
	vertical-align: middle;
}
.player {
    vertical-align: middle;
    text-align: center;
    margin: 6px auto;
}
.player a {
    display: inline-block;
	vertical-align: middle;
    margin: 0 4px;
    padding: 7px 6px;
    line-height: 15px;
}
.play-circle {
	width: 32px;
    height: 32px;
    background: #733ca6;
    display: inline-block;
    color: #ffffff;
    font-size: 13px;
    text-align: center;
}
.play-circle:hover, .play-circle:active, .play-circle.btn-active {
    background: #73c1c2;
    color: #fff;
    transition: all 0.3s ease-in-out;
}
.player .player-duration{
    margin: 8px 0px;
    text-align: center;
}
.player-controls.detail-box .player .player-duration span{
    margin: 0px 2px;
    font-size: 16px;
    color: #000000;
    font-weight: 600;
    text-align: center;
    display: inline-block;
}
.tag-wrap.player-tag {
    width: 100%;
    max-width: 100%;
}
.vedio-detail ul.visitor-tag.detail-box{
    flex-basis: 170px;
    padding: 3px 10px;
}
.vedio-detail ul.detail-box.check-error-btn{
    flex-basis: 120px;
    padding: 18px 10px;
}
.vedio-detail ul.detail-box.check-error-btn button.table-jump-btn{border-radius: 4px;font-size: 14px;}
.slideplay.vedio-seekbar {
    width: 100%;
    background: #ddd;
    position: relative;
}
.slideplay.vedio-seekbar .slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 10px;
    background: transparent;
    outline: none;
    top: 0;
    z-index: 4;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.slideplay.vedio-seekbar .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    z-index: 4;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: none;
    box-shadow: 0 0 6px rgba(102, 102, 102, 0.2);
}
.slideplay.vedio-seekbar .slider::-webkit-slider-thumb:hover{
    background: #733ca6;
    border: 1px solid #733ca6;
    transition: all 0.4s;
}
.slideplay.vedio-seekbar .slider::-webkit-slider-thumb::after {
    content: ' ';
    position: absolute;
    width: 10px;
    height: 10px;
    top: 4px;
    left: 4px;
    z-index: 4;
    border-radius: 50%;
    background-color: #dadada;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) inset, 0 -1px 3px rgba(0, 0, 0, 0.4) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) inset, 0 -1px 3px rgba(0, 0, 0, 0.4) inset;
}
.slideplay.vedio-seekbar .slider::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: #4CAF50;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: none;
}
.slideplay.vedio-seekbar .slider::-moz-range-thumb::after {
    content: ' ';
    position: absolute;
    width: 10px;
    height: 10px;
    top: 4px;
    left: 4px;
    z-index: 4;
    border-radius: 50%;
    background-color: #dadada;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) inset, 0 -1px 3px rgba(0, 0, 0, 0.4) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) inset, 0 -1px 3px rgba(0, 0, 0, 0.4) inset;
}

/*=============  Heatmaps Display Page Style  =============*/

.head-player.heatmaps-display{
    display: flex;
}
.heatmaps-display.head-player .site-pages {
    margin: 0 12px 0 0;
}
.head-player.heatmaps-display span.site-name{
    cursor: pointer;
    padding: 5px 0;
}
.head-player.heatmaps-display span.site-name  p{
    font-size: 16px;
    color: #ffffff;
    display: inline-block;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 160px;
    margin: 0 0;
    padding: 0 0;
}
.recording-switch.share-switch{
    display: inline-flex;
    vertical-align: middle;
}
.vedio-detail ul.detail-box.view-slider li label {width: 42%;}
.visibility-slider {
    width: 55%;
    background: none;
    display: inline-block;
}
.view-slider li .visibility-slider .slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 8px;
    background: #733ca6;
    outline: none;
    z-index: 2;
    -webkit-transition: .2s;
    transition: opacity .2s;
    box-shadow: 0 0 4px rgba(93, 93, 93, 0.2);
    border-radius: 10px;
    margin: 0 0;
}
.visibility-slider .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    position: relative;
    width: 20px;
    height: 20px;
    z-index: 2;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: none;
    box-shadow: 0 0 6px rgba(102, 102, 102, 0.2);
    transition: all 0.4s;
}
.visibility-slider .slider::-webkit-slider-thumb:hover{
    background: #733ca6;
    border: 1px solid #733ca6;
    transition: all 0.4s;
}
.vedio-detail.heatmap-vedio-detail ul.detail-box li {
    margin: 7px 0;
    padding: 0 0;
}
.vedio-detail.heatmap-vedio-detail ul.detail-box li span {
    color: #73c1c2;
    font-weight: 600;
}
.vedio-detail.heatmap-vedio-detail ul.detail-box{flex: 1 0 13%;}
.vedio-detail ul.vedio-opaity.detail-box {flex: 1 0 18%;}
.vedio-detail ul.vedio-scroll.detail-box {flex: 1 0 18%;}
.vedio-detail ul.vedio-devices.detail-box {flex: 1 0 15%;}
.vedio-detail ul.vedio-size.detail-box {flex: 1 0 12%;}
.vedio-detail.heatmap-vedio-detail ul.detail-box.check-error-btn {flex-basis: 130px;padding: 11px 10px;}
.vedio-detail ul.detail-box.vedio-scroll li label {width: 62%;}
.vedio-scroll.detail-box .progress.page-scroll {
    height: 20px;
    margin: 0 0;
    overflow: hidden;
    background-color: #ffffff;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    border: 2px solid #754fa5;
    float: right;
    width: 60%;
}
.vedio-scroll.detail-box .progress.page-scroll .progress-bar {
    background-color: #73c1c2;
    font-size: 13px;
    text-align: center;
    line-height: 16px;
}
.vedio-detail ul.detail-box.vedio-devices li label{
    width: auto;
    vertical-align: top;
}
.vedio-devices ul.display-devices{
    padding: 0 0;
    margin: 0 0;
    float: right;
}
.vedio-devices ul.display-devices li{
    display: inline-block;
    text-align: center;
}
ul.display-devices li label.custom-radio{
    text-align: center;
    margin: 0 6px;
    width: 100%;
}
ul.display-devices li label.custom-radio span.device-icon{
    display: block;
    font-size: 30px;
    color: #000000;
    padding: 0 2px;
    margin: 0 0;
    text-align: center;
    margin-bottom: 5px;
}
ul.display-devices label.custom-radio .checkmark {
    position: relative;
    height: 15px;
    width: 15px;
    background-color: #fff;
    border-radius: 50%;
    padding: 0 0;
    margin: 0 auto;
}
ul.display-devices .custom-radio .checkmark:after{
    top: 3px;
    left: 3px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #733ca6;
}

.tag-wrap.player-tag span.tag-label, span.tag-label {
    background: rgba(135, 129, 189, 0.3);
    border-radius: 2px;
    padding: 1px 6px;
    margin: 2px 1px;
    font-size: 0.725rem;
    color: #000;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}