<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>FloPanda</title>

</head>

<body style="padding: 0;margin: 0;">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td align="center" valign="top" bgcolor="#f6f3e4" style="background-color:#fff;">
        <table border="0" cellspacing="0" cellpadding="0" style="background-color:#fff;max-width: 400px;">
          <tbody>
            <tr>
              <td>
                <table border="0" cellspacing="0" cellpadding="0" style="width: 100%;background: #fff;border: 1px solid #e0e3e6;border-radius: 8px;">
                  <tr>
                    <td>
                      <div style="background-color: #8781bd;padding: 10px;border-radius: 8px 8px 0 0;text-align: center;">
                          <a href={{linkCreated}} style="display: block;margin: auto;width: 100%;">
                            <img alt="" align="center" style="text-align: center;display: block;max-width: 182px;margin: 0 auto;" src="https://flopandascripts.s3.eu-west-2.amazonaws.com/assets/images/logo.png" />
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <table border="0" cellspacing="0" cellpadding="0" style="background: #fff;color: #fff;margin: 0 auto;padding: 15px 15px;border-radius: 10px;width: 100%;">
                        <tr>
                          <td style="text-align: center;">
                            <h3 style="font-size: 20px;color: #000000;font-family: Arial,sans-serif;line-height: normal;margin: 0;text-align: center;font-weight: 500;margin-bottom: 15px;">Your Custom Package</h3>
                          </td>
                        </tr>
                        <tr>
                            <td>
                                <table border="0" cellspacing="0" cellpadding="0" style="width: 100%">
                                    <tr>
                                        <td style="padding:10px 0;border-bottom: 1px solid #e5e5e5;"><strong style="font-size: 16px;color: #000;font-family: Arial,sans-serif;line-height: normal;text-align: center;font-weight: 500;">Package Type</strong></td>
                                        <td style="text-align: right;padding:10px 0;border-bottom: 1px solid #e5e5e5;"><span style="font-size: 14px;color: #666565;font-family: Arial,sans-serif;line-height: normal;text-align: center;font-weight: 500;">{{packageInfo.planeName}}</span></td>
                                    </tr>
                                    <tr>
                                        <td style="padding:10px 0;border-bottom: 1px solid #e5e5e5;"><strong style="font-size: 16px;color: #000;font-family: Arial,sans-serif;line-height: normal;text-align: center;font-weight: 500;">Package Price                                          </strong></td>
                                        <td style="text-align: right;padding:10px 0;border-bottom: 1px solid #e5e5e5;"><span style="font-size: 14px;color: #666565;font-family: Arial,sans-serif;line-height: normal;text-align: center;font-weight: 500;">${{packageInfo.usPrice}}</span></td>
                                    </tr>
                                    
                                  
                                    
                                    <tr>
                                      <td style="padding:10px 0; border-bottom: 1px solid #e5e5e5"><strong style="font-size: 16px;color: #000;font-family: Arial,sans-serif;line-height: normal;text-align: center;font-weight: 500;">Page Views P/M</strong></td>
                                      <td style="text-align: right;padding:10px 0;border-bottom: 1px solid #e5e5e5;"><span style="font-size: 14px;color: #666565;font-family: Arial,sans-serif;line-height: normal;text-align: center;font-weight: 500;">{{packageInfo.viewPerMonth}}</span></td>
                                    </tr>
                                    <tr>
                                      <td style="padding:10px 0; border-bottom: 1px solid #e5e5e5"><strong style="font-size: 16px;color: #000;font-family: Arial,sans-serif;line-height: normal;text-align: center;font-weight: 500;">Recordings P/M</strong></td>
                                      <td style="text-align: right;padding:10px 0;border-bottom: 1px solid #e5e5e5;"><span style="font-size: 14px;color: #666565;font-family: Arial,sans-serif;line-height: normal;text-align: center;font-weight: 500;">{{packageInfo.recordingPerMonth}}</span></td>
                                    </tr>
                                    <tr>
                                      <td style="padding:10px 0; border-bottom: 1px solid #e5e5e5"><strong style="font-size: 16px;color: #000;font-family: Arial,sans-serif;line-height: normal;text-align: center;font-weight: 500;">Websites</strong></td>
                                      <td style="text-align: right;padding:10px 0;border-bottom: 1px solid #e5e5e5;"><span style="font-size: 14px;color: #666565;font-family: Arial,sans-serif;line-height: normal;text-align: center;font-weight: 500;">{{packageInfo.websites}}</span></td>
                                    </tr>
                                    <tr>
                                      <td style="padding:10px 0; border-bottom: 1px solid #e5e5e5"><strong style="font-size: 16px;color: #000;font-family: Arial,sans-serif;line-height: normal;text-align: center;font-weight: 500;">Months Storage</strong></td>
                                      <td style="text-align: right;padding:10px 0;border-bottom: 1px solid #e5e5e5;"><span style="font-size: 14px;color: #666565;font-family: Arial,sans-serif;line-height: normal;text-align: center;font-weight: 500;">{{packageInfo.storage}}</span></td>
                                    </tr>
                                    <tr>
                                      <td style="padding:10px 0; border-bottom: 1px solid #e5e5e5"><strong style="font-size: 16px;color: #000;font-family: Arial,sans-serif;line-height: normal;text-align: center;font-weight: 500;">Recording</strong></td>
                                      <td style="text-align: right;padding:10px 0;border-bottom: 1px solid #e5e5e5;"><img  src={{recordings}} alt="check" style="width: 20px" /></td>
                                    </tr>
                                    <tr>
                                      <td style="padding:10px 0; border-bottom: 1px solid #e5e5e5"><strong style="font-size: 16px;color: #000;font-family: Arial,sans-serif;line-height: normal;text-align: center;font-weight: 500;">Heatmaps</strong></td>
                                      <td style="text-align: right;padding:10px 0;border-bottom: 1px solid #e5e5e5;"><img  src={{heatMaps}} alt="check" style="width: 20px" /></td>
                                    </tr>
                                    <tr>
                                      <td style="padding:10px 0; border-bottom: 1px solid #e5e5e5"><strong style="font-size: 16px;color: #000;font-family: Arial,sans-serif;line-height: normal;text-align: center;font-weight: 500;">Funnels</strong></td>
                                      <td style="text-align: right;padding:10px 0;border-bottom: 1px solid #e5e5e5;"><img  src={{funnels}} alt="check" style="width: 20px" /></td>
                                    </tr>
                                    <tr>
                                      <td style="padding:10px 0; border-bottom: 1px solid #e5e5e5"><strong style="font-size: 16px;color: #000;font-family: Arial,sans-serif;line-height: normal;text-align: center;font-weight: 500;">IP Address</strong></td>
                                      <td style="text-align: right;padding:10px 0;border-bottom: 1px solid #e5e5e5;"><img  src={{ips}} alt="check" style="width: 20px" /></td>
                                    </tr>
                                    <tr>
                                      <td style="padding:10px 0; border-bottom: 1px solid #e5e5e5"><strong style="font-size: 16px;color: #000;font-family: Arial,sans-serif;line-height: normal;text-align: center;font-weight: 500;">Website Issues Report</strong></td>
                                      <td style="text-align: right;padding:10px 0;border-bottom: 1px solid #e5e5e5;"><img  src={{issueReports}} alt="check" style="width: 20px" /></td>
                                    </tr>
                                    <tr>
                                      <td style="padding:10px 0; border-bottom: 1px solid #e5e5e5"><strong style="font-size: 16px;color: #000;font-family: Arial,sans-serif;line-height: normal;text-align: center;font-weight: 500;">Form Analytics</strong></td>
                                      <td style="text-align: right;padding:10px 0;border-bottom: 1px solid #e5e5e5;"><img  src={{analytics}} alt="check" style="width: 20px" /></td>
                                    </tr>
                                    <tr>
                                      <td style="padding:10px 0; border-bottom: 1px solid #e5e5e5"><strong style="font-size: 16px;color: #000;font-family: Arial,sans-serif;line-height: normal;text-align: center;font-weight: 500;">Form DropOffs</strong></td>
                                      <td style="text-align: right;padding:10px 0;border-bottom: 1px solid #e5e5e5;"><img  src={{dropOffs}} alt="check" style="width: 20px" /></td>
                                    </tr>
                                    <tr>
                                      <td style="padding:10px 0; border-bottom: 1px solid #e5e5e5"><strong style="font-size: 16px;color: #000;font-family: Arial,sans-serif;line-height: normal;text-align: center;font-weight: 500;">Partial Data Download</strong></td>
                                      <td style="text-align: right;padding:10px 0;border-bottom: 1px solid #e5e5e5;"><img  src={{partialData}} alt="check" style="width: 20px" /></td>
                                    </tr>
                                    <tr>
                                      <td style="padding:10px 0; border-bottom: 1px solid #e5e5e5"><strong style="font-size: 16px;color: #000;font-family: Arial,sans-serif;line-height: normal;text-align: center;font-weight: 500;">Recording Download</strong></td>
                                      <td style="text-align: right;padding:10px 0;border-bottom: 1px solid #e5e5e5;"><img  src={{recordingDownloads}} alt="check" style="width: 20px" /></td>
                                    </tr>
                                    <tr>
                                      <td style="padding:10px 0; border-bottom: 1px solid #e5e5e5"><strong style="font-size: 16px;color: #000;font-family: Arial,sans-serif;line-height: normal;text-align: center;font-weight: 500;">Heatmap Download</strong></td>
                                      <td style="text-align: right;padding:10px 0;border-bottom: 1px solid #e5e5e5;"><img  src={{heatmapDownloads}} alt="check" style="width: 20px" /></td>
                                    </tr>
                                    <tr>
                                      <td style="padding:10px 0; border-bottom: 1px solid #e5e5e5"><strong style="font-size: 16px;color: #000;font-family: Arial,sans-serif;line-height: normal;text-align: center;font-weight: 500;">Conversion Notification Bell</strong></td>
                                      <td style="text-align: right;padding:10px 0;border-bottom: 1px solid #e5e5e5;"><img  src={{conversionAlerts}} alt="check" style="width: 20px" /></td>
                                    </tr>
                                    <tr>
                                      <td style="padding:10px 0; border-bottom: 1px solid #e5e5e5"><strong style="font-size: 16px;color: #000;font-family: Arial,sans-serif;line-height: normal;text-align: center;font-weight: 500;">UTM Tags</strong></td>
                                      <td style="text-align: right;padding:10px 0;border-bottom: 1px solid #e5e5e5;"><img  src={{utmTags}} alt="check" style="width: 20px" /></td>
                                    </tr>
                                    <tr>
                                      <td style="padding:10px 0; border-bottom: 1px solid #e5e5e5"><strong style="font-size: 16px;color: #000;font-family: Arial,sans-serif;line-height: normal;text-align: center;font-weight: 500;">Share Recordings</strong></td>
                                      <td style="text-align: right;padding:10px 0;border-bottom: 1px solid #e5e5e5;"><img  src={{shareRecording}} alt="check" style="width: 20px" /></td>
                                    </tr>
                                    <tr>
                                      <td style="padding:10px 0; border-bottom: 1px solid #e5e5e5"><strong style="font-size: 16px;color: #000;font-family: Arial,sans-serif;line-height: normal;text-align: center;font-weight: 500;">Share Heatmaps</strong></td>
                                      <td style="text-align: right;padding:10px 0;border-bottom: 1px solid #e5e5e5;"><img  src={{shareHeatmap}} alt="check" style="width: 20px" /></td>
                                    </tr>
                                    <tr>
                                      <td style="padding:10px 0; border-bottom: 1px solid #e5e5e5"><strong style="font-size: 16px;color: #000;font-family: Arial,sans-serif;line-height: normal;text-align: center;font-weight: 500;">Facebook Campaign Breakdown</strong></td>
                                      <td style="text-align: right;padding:10px 0;border-bottom: 1px solid #e5e5e5;"><img  src={{fbCompaignBreakdown}} alt="check" style="width: 20px" /></td>
                                    </tr>
                                    <!-- <tr>
                                      <td style="padding:10px 0; border-bottom: 1px solid #e5e5e5"><strong style="font-size: 16px;color: #000;font-family: Arial,sans-serif;line-height: normal;text-align: center;font-weight: 500;">User Search</strong></td>
                                      <td style="text-align: right;padding:10px 0;border-bottom: 1px solid #e5e5e5;"><img  src={{fbCompaignBreakdown}} alt="check" style="width: 20px" /></td>
                                    </tr> -->
                                    <tr>
                                      <td style="padding:10px 0; border-bottom: 1px solid #e5e5e5"><strong style="font-size: 16px;color: #000;font-family: Arial,sans-serif;line-height: normal;text-align: center;font-weight: 500;">Tags</strong></td>
                                      <td style="text-align: right;padding:10px 0;border-bottom: 1px solid #e5e5e5;"><img  src={{tags}} alt="check" style="width: 20px" /></td>
                                    </tr>
                                    <tr>
                                      <td style="padding:10px 0; border-bottom: 1px solid #e5e5e5"><strong style="font-size: 16px;color: #000;font-family: Arial,sans-serif;line-height: normal;text-align: center;font-weight: 500;">Device Reporting</strong></td>
                                      <td style="text-align: right;padding:10px 0;border-bottom: 1px solid #e5e5e5;"><img  src={{deviceReporting}} alt="check" style="width: 20px" /></td>
                                    </tr>
                                    <tr>
                                      <td style="padding:10px 0; border-bottom: 1px solid #e5e5e5"><strong style="font-size: 16px;color: #000;font-family: Arial,sans-serif;line-height: normal;text-align: center;font-weight: 500;">Page Breakdown Reports</strong></td>
                                      <td style="text-align: right;padding:10px 0;border-bottom: 1px solid #e5e5e5;"><img  src={{pageBreakdownReport}} alt="check" style="width: 20px" /></td>
                                    </tr>
                                    <tr>
                                      <td style="padding:10px 0; border-bottom: 1px solid #e5e5e5"><strong style="font-size: 16px;color: #000;font-family: Arial,sans-serif;line-height: normal;text-align: center;font-weight: 500;">24/7 Support</strong></td>
                                      <td style="text-align: right;padding:10px 0;border-bottom: 1px solid #e5e5e5;"><img  src={{support}} alt="check" style="width: 20px" /></td>
                                    </tr>  
                                  </table>
                                  <tr>
                                      <td>
                                        <table border="0" cellspacing="0" cellpadding="0" style="width: 100%;margin-top: 15px;margin-bottom: 15px;">
                                          <tr>
                                            <td>
                                                <p style="font-size: 18px;color: #000;font-family: Arial,sans-serif;line-height: normal;text-align: center;font-weight: 500;">Click here to subscribe custom package.
                                                  </p>
                                            </td>
                                          </tr>
                                        </table>
                                      </td>
                                  </tr>
                                  <tr>
                                    <td style="text-align:center">
                                      <a href={{linkCreated}} style="margin-top: 20px;padding: 11px 30px; background:#73c1c2; color:#fff; text-transform:uppercase; text-decoration:none;font-family: Arial,sans-serif; font-size:16px; font-weight:600; border-radius: 30px;white-space: normal;display: block;width: auto;max-width: 160px;margin: 0 auto;">Click Here</a>
                                    </td>
                                  </tr>
                            </td>
                        </tr>
                        
                        <tr>
                          <td>
                            <div style="height: 1px;width: 100%;background: #d7d5d5;margin: 20px auto 10px auto;"></div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div style="background: #8781bd;padding: 15px 10px;border-radius: 0 0 10px 10px;font-size: 12px;font-family: Arial, Helvetica, sans-serif;text-align: center;color: #fff;margin: -12px -15px -15px -15px;">
                              <p style="margin:0;"><a style=" text-decoration:underline; color:#fff; letter-spacing:1.2px;" href={{linkCreated}} target=_blank>www.flopanda.com</a> | ©2019 FloPanda Inc. </p>
                          </div>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </table>
</body>
</html>
