﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Email-template</title>
    <style>
        .email-body {
            width: 600px;
        }
        
        .inner-body {
            padding: 10px 40px 30px;
        }
        
        @media screen and (max-width: 640px) {
            .email-body {
                width: 92%;
                margin: 0 auto;
            }
            .inner-body {
                padding: 10px 15px 30px;
            }
        }
    </style>
</head>

<body style="background:#f2f2f2; padding-top:50px; padding-bottom:50px; font-family:'Open Sans', sans-serif;margin: auto;">
    <div class="email-body" style="margin:auto; background:#fff; color:#000;">
        <!--Header-->
        <header style="padding:10px;display:block; text-align:center; border-bottom:1px solid; border-color: #eee; background-color: #8781bd; margin-bottom: 25px;">
            <a style="display: block;max-width: 182px;margin: 0 auto;" href="https://www.flopanda.com/"><img src="https://flopandascripts.s3.eu-west-2.amazonaws.com/assets/images/logo.png" style="max-width: 100%;" alt="logo" /></a>
        </header>

        <!--Email-Content-->
        <div class="inner-body" style="text-align:center;">
            <h1 style="font-weight:300; color:#8781bd; ">Password Change Request</h1>
            <p style="font-size:14px;  line-height: 25px; margin: 0;">You’re receiving this email because we received a password reset request for your account. </p>
            <br />
            <a href={{linkCreated}} style="padding: 11px 30px; background:#73c1c2;  color:#fff; text-transform:uppercase; text-decoration:none; font-size:16px; font-weight:600; border-radius: 30px;white-space: normal;display: block;width: auto;max-width: 230px;margin: 0 auto;">Reset My Password</a><br
            />
            <br />
            <p style="font-size: 12px; color: #666;">If it wasn’t you please disregard this email and make sure you can still login to your account.</p>
        </div>
        <footer style="background:#eee; padding: 10px 15px; border-top:1px solid #ccc; border-bottom:1px solid #ccc; text-transform:uppercase;">
            <div style="width:100%; height: 20px;">

                <div style="float:left;margin-top: 5px;font-family:Arial, Helvetica, sans-serif;">
                    <a style="WORD-WRAP: break-word; COLOR: #777; FONT-WEIGHT: normal; font-size:10px; text-decoration:none; -webkit-text-size-adjust: 100%" title="Privacy Policy" href="http://flopanda.com/privacy">Privacy Policy</a>
                </div>
                <div style="float:right; text-align:right; font-family:Arial, Helvetica, sans-serif;">
                    <a style="WORD-WRAP: break-word; COLOR: #483d36; FONT-WEIGHT: normal; -webkit-text-size-adjust: 100%;" href="https://twitter.com/"><img style="BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; MARGIN: 1px 10px 1px 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: medium; WIDTH: 15px; -MS-INTERPOLATION-MODE: bicubic; HEIGHT: 13px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; TEXT-DECORATION: none"
                            alt="Follow India Hicks on Twitter" src="https://gallery.mailchimp.com/3756fb2b0577158c53a3a3b98/images/1b526eaf-a2a0-46f8-8789-b814e8716fc7.png" width=15 height=13></a>
                    <a style="WORD-WRAP: break-word; COLOR: #483d36; FONT-WEIGHT: normal; TEXT-DECORATION: underline; -MS-TEXT-SIZE-ADJUST: 100%; -webkit-text-size-adjust: 100%;" href="https://www.instagram.com"><img style="BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; MARGIN: 0px 5px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: medium; WIDTH: 16px; -MS-INTERPOLATION-MODE: bicubic; HEIGHT: 15px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; TEXT-DECORATION: none"
                            alt="Follow India Hicks on Instagram" src="https://gallery.mailchimp.com/3756fb2b0577158c53a3a3b98/images/cd9f00db-5ff8-417a-916a-c9177216557f.png" width=16 height=15></a>
                    <a style="WORD-WRAP: break-word; COLOR: #483d36; FONT-WEIGHT: normal; TEXT-DECORATION: underline; -MS-TEXT-SIZE-ADJUST: 100%; -webkit-text-size-adjust: 100%;" href="https://facebook.com/"><img style="BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; MARGIN: 0px 0px 0px 15px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: medium; WIDTH: 7px; -MS-INTERPOLATION-MODE: bicubic; HEIGHT: 15px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; TEXT-DECORATION: none"
                            alt="Follow India Hicks on Facebook" src="https://gallery.mailchimp.com/3756fb2b0577158c53a3a3b98/images/699672c5-f69e-4c13-96f0-93994455a799.png" width=7 height=15></a>
                </div>
            </div>
        </footer>
        <!--copy right-->
        <div style="clear: both"></div>
        <div style="background:#8781bd; padding: 10px 0px 10px; font-size:12px; font-family:Arial, Helvetica, sans-serif; text-align:center; color:#fff;">
            <p style="margin:0;"><a style=" text-decoration:underline; color:#fff; letter-spacing:1.2px;" href="https://www.flopanda.com" target=_blank>www.flopanda.com</a> | ©2019 FloPanda Inc. </p>
        </div>
    </div>
    <!--End of main Wrapper-->
</body>

</html>