﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Email-template</title>
    <style>
        .email-body {
            width: 600px;
        }
        
        .inner-body {
            padding: 10px 40px 30px;
        }
        
        @media screen and (max-width: 640px) {
            .email-body {
                width: 92%;
                margin: 0 auto;
            }
            .inner-body {
                padding: 10px 15px 30px;
            }
        }
    </style>
</head>

<body style="background:#f2f2f2; padding-top:50px; padding-bottom:50px; font-family:'Open Sans', sans-serif;margin: auto;">
    <div class="email-body" style="margin:auto;background:#fff; color:#000;">
        <div style="padding: 10px; text-align:center; border-bottom:1px solid; border-color: #eee; background-color: #8781bd; margin-bottom: 25px;display: block;">
            <a href="https://www.flopanda.com/" style="display: block;margin: auto;width: 100%;">
                <img alt="" align="center" style="text-align: center;display: block;max-width: 182px;margin: 0 auto;" src="https://flopandascripts.s3.eu-west-2.amazonaws.com/assets/images/logo.png" />
            </a>
        </div>
        <div class="inner-body" style="text-align:center;">
            <h1 style="font-weight:300; color:#8781bd; ">Welcome to FloPanda</h1>
            <p style="font-size:14px; line-height: 25px;">Please verify your email address by clicking the button below:</p>
            <br />
            <a href={{linkCreated}} style="margin-top: 20px;padding: 11px 30px; background:#73c1c2; color:#fff; text-transform:uppercase; text-decoration:none; font-size:16px; font-weight:600; border-radius: 30px;white-space: normal;display: block;width: auto;max-width: 230px;margin: 0 auto;">Verify Email Address</a>
            <br />
            <br />
            <p style="font-size: 12px; color: #666;">Once you have verified your account, all future emails from FloPanda will be sent to this email address.
                <br/><br/> If you have any questions please contact our <a style="color: #8781bd;" href="https://www.flopanda.com/contactUs">Customer Support Team.</a>
            </p>
        </div>
        <footer style="background:#eee; padding: 10px 15px; border-top:1px solid #ccc; border-bottom:1px solid #ccc; text-transform:uppercase;">
            <div style="width:100%; height: 20px;">

                <div style="float:left;margin-top: 5px;font-family:Arial, Helvetica, sans-serif;">
                    <a style="WORD-WRAP: break-word; COLOR: #777; FONT-WEIGHT: normal; font-size:10px; text-decoration:none; -webkit-text-size-adjust: 100%" title="Privacy Policy" href="https://www.flopanda.com/privacy">Privacy Policy</a>
                </div>
            </div>
        </footer>
        <div style="clear: both"></div>
        <div style="background:#8781bd; padding: 10px 0px 10px; font-size:12px; font-family:Arial, Helvetica, sans-serif; text-align:center; color:#fff;">
            <p style="margin:0;"><a style=" text-decoration:underline; color:#fff; letter-spacing:1.2px;" href="https://www.flopanda.com" target=_blank>www.flopanda.com</a> | ©2019 FloPanda Inc. </p>
        </div>
    </div>
</body>

</html>