<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Flo Panda</title>

</head>

<body style="padding: 0;margin: 0;">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td align="center" valign="top" bgcolor="#f6f3e4" style="background-color:#fff;">
                <table width="650" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td style="text-align: center;">
                                <a style="display: block;max-width: 182px;margin: 0 auto;margin-top: 40px;"
                                    href="https://beta.flopanda.com/"><img
                                        src="https://flopandascripts.s3.eu-west-2.amazonaws.com/assets/images/logo-2.png"
                                        style="max-width: 180px;margin: 0 auto;" alt="logo" /></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <!-- <p style="font-size: 20px;color: #333030;font-family: arial, sans-serif;line-height: 25px;margin-top: 30px;margin-bottom: 15px;padding: 0 0;text-align: left;"><b style="color: #1b1a1a;font-weight: 600;">You’re nearly there</b> - All that’s left to do is install your tracking code.</p> -->
                                <p
                                    style="font-size: 16px;color: #333030;font-family: arial, sans-serif;line-height: 25px;margin-top: 10px;margin-bottom: 10px;padding: 0 0;text-align: left;">
                                    Please add the FloPanda tracking code below before the closing tag in the
                                    &lt;footer&gt; section of all the pages on</em></strong> {{websiteName}}</p>
                                <!-- <p style="font-size: 16px;color: #333030;font-family: arial, sans-serif;line-height: 25px;margin-top: 0;margin-bottom: 10px;padding: 0 0;text-align: left;">Copy your tracking code below and install it before the closing tag in the footer of your website or landing page…</p> -->
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div
                                    style="background-color: #f4f4f4;border: 1px solid;border-color: #9e9e9e;display: block;width: 100%;height: auto;padding: 10px 15px;margin: 10px auto;resize: vertical;">
                                    <p
                                        style="font-size: 16px;color: #333030;font-family: arial, sans-serif;line-height: 24px;margin-top: 0;margin-bottom: 0;padding: 0 0;text-align: left;word-break: break-word;">
                                        {{trackingCode}}</p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p
                                    style="font-size: 16px;color: #333030;font-family: arial, sans-serif;line-height: 25px;margin-top: 10px;margin-bottom: 10px;padding: 0 0;text-align: left;">
                                    If payments are taken on {{websiteName}}, please add the code below before the closing tag in the &lt;footer&gt; section on all payment confirmation pages ONLY:
                                    </p>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div
                                    style="background-color: #f4f4f4;border: 1px solid;border-color: #9e9e9e;display: block;width: 100%;height: auto;padding: 10px 15px;margin: 10px auto;resize: vertical;">
                                    <p
                                        style="font-size: 16px;color: #333030;font-family: arial, sans-serif;line-height: 24px;margin-top: 0;margin-bottom: 0;padding: 0 0;text-align: left;word-break: break-word;">
                                        {{paymentCode}}</p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div style="height: 5px;background: #8560a8;"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p
                                    style="font-size: 20px;color: #a7a7a7;font-family: arial, sans-serif;line-height: 25px;margin-top: 40px;padding: 0 25px;">
                                    About this email<br> This email is confidential and intended for the addressee only.
                                    Please delete if that is not you.<br><br> Please do not reply to this email as the
                                    address is not monitored. Visit our support if you
                                    have any queries and we'll be happy to help.</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img width="400"
                                    src="https://flopandascripts.s3.eu-west-2.amazonaws.com/assets/images/bottom-curve.png"
                                    style="max-width: 100%;" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>