<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>FloPanda</title>

</head>

<body style="padding: 0;margin: 0;">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td align="center" valign="top" bgcolor="#f6f3e4" style="background-color:#fff;">
                <table border="0" cellspacing="0" cellpadding="0" style="max-width: 500px;width: 500px;margin: 0 auto;padding: 50px 10px; table-layout: fixed;">
                    <tbody>
                        <tr>
                            <td style="width: 220px;">
                                <table border="0" cellspacing="0" cellpadding="0">
                                    <tbody>
                                        <tr>
                                            <td style="vertical-align: top;width: 40px;">
                                                <img style="display: inline-block;max-width: 90%;" src="https://flopandascripts.s3.eu-west-2.amazonaws.com/assets/images/logo-icon.png" />
                                            </td>
                                            <td style="width: 170px;">
                                                <h3 style="font-family: arial, sans-serif;font-size: 17px;font-weight: 600;color: #363636;margin: 6px 0 12px 2px;"> Flo Panda</h3>
                                                <p style="font-family: arial, sans-serif;font-size: 12px;font-weight: 100;color: #050505;margin: 0; max-width: 160px;line-height: 20px;">
                                                    Unit 8 Edward Court<br/> Altrincham
                                                    <br/> WA14 5GL<br/> United Kingdom</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <div style="height: 2px;width: 100%;background: #000;margin: 20px 0;"></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <p style="font-family: arial, sans-serif;font-size: 12px;font-weight: 600;color: #000000;margin: 0 0 20px 0;">Bill To:</p>
                                                <span style="font-family: arial, sans-serif;font-size: 12px;font-weight: 100;color: #000000;"> Flo Panda</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td style="vertical-align: top;">
                                <table border="0" cellspacing="0" cellpadding="0" style="margin-right: auto;">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <strong style="font-family: arial, sans-serif;font-size: 12px;color: #000;">Invoice/Credit memo</strong>
                                            </td>
                                            <td style="padding-left: 30px;"><span style="font-family: arial, sans-serif;font-size: 12px;font-weight: 100;color: #000;">Invoice</span></td>
                                        </tr>
                                        <tr>
                                            <td style="padding: 12px 0 10px 0;border-bottom: 1px solid #000;">
                                                <strong style="font-family: arial, sans-serif;font-size: 12px;color: #000;">Invoice Number:</strong>
                                            </td>
                                            <td style="padding: 12px 0 10px 30px;border-bottom: 1px solid #000;"><span style="font-family: arial, sans-serif;font-size: 12px;font-weight: 100;color: #000;">{{payment.paymentId}}</span></td>
                                        </tr>
                                        <tr>
                                            <td style="padding: 10px 0 10px 0;border-bottom: 1px solid #000;">
                                                <strong style="font-family: arial, sans-serif;font-size: 12px;color: #000;">Invoice Date:</strong>
                                            </td>
                                            <td style="padding: 10px 0 10px 30px;border-bottom: 1px solid #000;"><span style="font-family: arial, sans-serif;font-size: 12px;font-weight: 100;color: #000;">{{createdAt}}</span></td>
                                        </tr>
                                        <tr>
                                            <!-- <td style="padding: 10px 0 10px 0;border-bottom: 1px solid #000;">
                        <strong style="font-family: arial, sans-serif;font-size: 20px;font-weight: 100;color: #000;"><strong>Order Number:</strong>
                      </td>
                      <td style="padding: 10px 0 10px 30px;border-bottom: 1px solid #000;"><span style="font-family: arial, sans-serif;font-size: 20px;font-weight: 100;color: #000;">0876</span></td> -->
                                        </tr>
                                        <tr>
                                            <!-- <td style="padding: 10px 0 10px 0;border-bottom: 1px solid #000;">
                        <strong style="font-family: arial, sans-serif;font-size: 20px;font-weight: 100;color: #000;"><strong>Customer:</strong>
                      </td> -->
                                            <!-- <td style="padding: 10px 0 10px 30px;border-bottom: 1px solid #000;"><span style="font-family: arial, sans-serif;font-size: 20px;font-weight: 100;color: #000;">Claire Niebel</span></td> -->
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="2">
                                <div style="height: 2px;width: 100%;background: #000;margin: 20px 0 10px 0;"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table border="0" cellspacing="0" cellpadding="0" width='500'>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <p style="font-family: arial, sans-serif;font-size: 12px;font-weight: 600;color: #000000;margin: 0 0 20px 0;">Payment Method</p>
                                                <span style="font-family: arial, sans-serif;font-size: 12px;font-weight: 100;color: #000000;">{{paymentType}}</span>
                                            </td>
                                            <td>
                                                <p style="font-family: arial, sans-serif;font-size: 12px;font-weight: 600;color: #000000;margin: 0 0 20px 0;">Contact</p>
                                                <span style="font-family: arial, sans-serif;font-size: 12px;font-weight: 100;color: #000000;">{{userData.email}}</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="2">
                                <table cellspacing="0" cellpadding="0" style="border: 1px solid #000;width: 100%;margin-top: 30px;table-layout: fixed;">
                                    <tr>
                                        <td style="padding: 15px 5px;border-right: 1px solid #000;border-bottom: 1px solid #000;">
                                            <p style="font-family: arial, sans-serif;font-size: 12px;font-weight: 600;color: #000000;margin: 0;">Transaction ID</p>
                                        </td>
                                        <td style="padding: 15px 5px;border-right: 1px solid #000;border-bottom: 1px solid #000;">
                                            <p style="font-family: arial, sans-serif;font-size: 12px;font-weight: 600;color: #000000;margin: 0;">Amount</p>
                                        </td>
                                        <td style="padding: 15px 5px;border-right: 1px solid #000;border-bottom: 1px solid #000;">
                                            <p style="font-family: arial, sans-serif;font-size: 12px;font-weight: 600;color: #000000;margin: 0;">Plan</p>
                                        </td>
                                        <td style="padding: 15px 5px;border-right: 1px solid #000;border-bottom: 1px solid #000;">
                                            <p style="font-family: arial, sans-serif;font-size: 12px;font-weight: 600;color: #000000;margin: 0;">Plan Type</p>
                                        </td>
                                        <td style="padding: 15px 5px;border-bottom: 1px solid #000;">
                                            <p style="font-family: arial, sans-serif;font-size: 12px;font-weight: 600;color: #000000;margin: 0;">Date</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 15px 5px;border-right: 1px solid #000;">
                                            <p style="font-family: arial, sans-serif;font-size: 12px;font-weight: 100;color: #000000;margin: 0;word-break: break-all;">{{payment.paymentId}}</p>
                                        </td>
                                        <td style="padding: 15px 5px;border-right: 1px solid #000;">
                                            <p style="font-family: arial, sans-serif;font-size: 12px;font-weight: 100;color: #000000;margin: 0;">{{Currency}}{{payment.price}}</p>
                                        </td>
                                        <td style="padding: 15px 5px;border-right: 1px solid #000;">
                                            <p style="font-family: arial, sans-serif;font-size: 12px;font-weight: 100;color: #000000;margin: 0;">{{payment.planeName}}</p>
                                        </td>
                                        <td style="padding: 15px 5px;border-right: 1px solid #000;">
                                            <p style="font-family: arial, sans-serif;font-size: 12px;font-weight: 100;color: #000000;margin: 0; text-transform: capitalize;"> {{packageInfo.planeType}}</p>
                                        </td>
                                        <td style="padding: 15px 5px;">
                                            <p style="font-family: arial, sans-serif;font-size: 12px;font-weight: 100;color: #000000;margin: 0;"> {{createdAt}}</p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>
</table>
</body>

</html>