<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Flo Panda</title>

</head>

<body style="padding: 0;margin: 0;">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td align="center" valign="top" bgcolor="#f6f3e4" style="background-color:#fff;">
                <table width="650" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td style="text-align: center;">
                                <a style="display: block;max-width: 182px;margin: 0 auto;margin-top: 40px;" href="https://www.flopanda.com/"><img src="https://flopandascripts.s3.eu-west-2.amazonaws.com/assets/images/logo-2.png" style="max-width: 180px;margin: 0 auto;" alt="logo" /></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p style="font-size: 20px;color: #1ac522;font-family: arial, sans-serif;line-height: 25px;margin-top: 30px;margin-bottom: 50px;padding: 0 25px;text-align: center;"> Thank you for your payment. <br> We have received the following payment:</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p style="font-family: arial, sans-serif;font-size: 20px;color: #a7a7a7;margin-bottom: 8px;margin-top: 0;"><strong style="color: #333030;">Product Name:</strong> {{packageInfo.planeName}}</p>
                                <p style="font-family: arial, sans-serif;font-size: 20px;color: #a7a7a7;margin-bottom: 8px;margin-top: 0;"><strong style="color: #333030;">Payment amount:</strong> {{Currency}}{{payment.price}}</p>
                                <p style="font-family: arial, sans-serif;font-size: 20px;color: #a7a7a7;margin-bottom: 8px;margin-top: 0;"><strong style="color: #333030;">Payment Date:</strong> {{createdAt}}</p>

                                <p style="font-family: arial, sans-serif;font-size: 20px;color: #1b1a1a;margin-bottom: 7px;margin-top: 50px;">Login to you FloPanda dashboard and go to:</p>
                                <strong style="font-family: arial, sans-serif;font-size: 20px;color: #1b1a1a;display: block;margin-bottom: 120px;">My Account > Transaction History > Download to download your invoice.</strong>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div style="height: 5px;background: #8560a8;"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p style="font-size: 20px;color: #a7a7a7;font-family: arial, sans-serif;line-height: 25px;margin-top: 40px;padding: 0 25px;">About this email<br> This email is confidential and intended for the addressee only. Please delete if that is not you.<br><br> Please do not reply to this email as the address is not monitored. Visit our support if you
                                    have any queries and we'll be happy to help.</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img width="400" src="https://flopandascripts.s3.eu-west-2.amazonaws.com/assets/images/bottom-curve.png" style="max-width: 100%;" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>