<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Flo Panda</title>

</head>

<body style="padding: 0;margin: 0;">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td align="center" valign="top" bgcolor="#f6f3e4" style="background-color:#fff;">
                <table width="650" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td style="text-align: center;">
                                <a style="display: block;max-width: 182px;margin: 0 auto;margin-top: 40px;" href="https://www.flopanda.com/"><img src="https://flopandascripts.s3.eu-west-2.amazonaws.com/assets/images/logo-2.png" style="max-width: 180px;margin: 0 auto;" alt="logo" /></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p style="font-size: 20px;color: #333030;font-family: arial, sans-serif;line-height: 25px;margin-top: 30px;margin-bottom: 15px;padding: 0 0;text-align: left;">Your account recordings are about to run out. You have less than 100 recordings remaining.</p>
                                <p style="font-family: arial, sans-serif;font-size: 20px;color: #1b1a1a;margin-bottom: 20px;margin-top: 10px;">To ensure your recordings do not stop, please  <a href={{linkCreated}} style="color: #8781bd;font-weight: 400;text-decoration: none; display: inline-block;">log in</a> to your dashboard and refill your account.
                                </p>
                                <p style="font-family: arial, sans-serif;font-size: 20px;color: #1b1a1a;margin-bottom: 20px;margin-top: 10px;">You can refill your account from <b style="color: #8781bd;font-weight: 400;">£21.00</b>.</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href={{linkCreated}} style="padding: 12px 30px;background: #73c1c2;color: #fff;text-transform: uppercase;text-decoration: none;font-family: arial, sans-serif;font-size: 16px;font-weight: 600;border-radius: 30px;white-space: normal;display: block;width: 100%;max-width: 350px;margin: 20px auto 0 auto;text-align: center;">Refill Your FloPanda Account Now</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p style="font-family: arial, sans-serif;font-size: 18px;color: #1b1a1a;margin-bottom: 8px;margin-top: 30px;">Thanks<strong style="color: #333030;font-style: italic;display: block;margin-top: 10px;">Sam</strong></p>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div style="height: 5px;background: #8560a8;"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p style="font-size: 20px;color: #a7a7a7;font-family: arial, sans-serif;line-height: 25px;margin-top: 40px;padding: 0 25px;">About this email<br> This email is confidential and intended for the addressee only. Please delete if that is not you.<br><br> Please do not reply to this email as the address is not monitored. Visit our support if you
                                    have any queries and we'll be happy to help.</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img width="400" src="https://flopandascripts.s3.eu-west-2.amazonaws.com/assets/images/bottom-curve.png" style="max-width: 100%;" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>